body {
    background-color: lightpink;
}

@media screen and (max-widhth: 700px){
    body {
        background-color: red;
    }
}

@media screen and (min-width: 700px){
    #p1 {
        display: none;
    }
}

body {
    background-color: lightgreen;
    color: black;
}

@media screen and (max-width: 1200px){
    body {
        background-color: lightblue;
        color: white;
    }
}

@media screen and (max-width: 992px){
    body{
        background-color: lightpink;
        color: white;
    }
}

@media screen and (max-width: 768px){
    body {
        background-color: rgba(141,23,164 );
        color: white;
    }
}